html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

img {
    position:static;
}

h1 {
    margin-left: 80px;
}

#videoheader {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}

#videoheader_content {
    z-index: 2;
    position: absolute;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}